body {
    margin: 10px;
    background-color: coral;
    font-family: sans-serif;
}

header {
    background-color: aquamarine;
}

h1 {
    font-size: 50px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    text-align: center;
}

li a {
    display: block;
    padding: 10px;
    background-color: white;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

main {
    background-color: beige;
}

.about-me {
    background-color: violet;
}

.work {
    background-color: yellowgreen;
}

footer {
    background-color: chartreuse;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    padding: 5px;
}